@model Clinic.Database.Examination

@{
    ViewData["Title"] = "Edytuj badanie";
}

<div class="container-fluid py-5" style="width: 500px">
    <h3 class="mb-4">Edytuj badanie</h3>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Nazwa</label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Opis</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DoctorId" class="form-label">Lekarz prowadzący</label>
            <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId" required></select>
            <span asp-validation-for="DoctorId" class="text-danger"></span>
        </div>

        <div class="modal-footer">
            <a asp-action="Index" class="btn btn-secondary m-2">Anuluj</a>
            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
