@model Clinic.Database.Doctor

@{
    ViewData["Title"] = "Modyfikuj lekarza";
}

<div class="container-fluid py-5" style="width: 500px">
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Imie</label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Nazwisko</label>
            <input asp-for="LastName" class="form-control" required />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SpecializationId" class="form-label">Specjalizacja</label>
            <select asp-for="SpecializationId" class="form-control" asp-items="ViewBag.SpecializationId" required></select>
            <span asp-validation-for="SpecializationId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Adres email</label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DateOfBirth" class="form-label">Data urodzenia</label>
            <input asp-for="DateOfBirth" type="date" class="form-control" required />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <div class="modal-footer">
            <a asp-action="Index" class="btn btn-secondary m-2">Anuluj</a>
            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
