@model Clinic.Database.Document

@{
    ViewData["Title"] = "Dodaj dokument";
}

<div class="container-fluid py-5" style="width: 500px">
    <h3 class="mb-4">Dodaj nowy dokument</h3>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="Title" class="form-label">Tytuł</label>
            <input asp-for="Title" class="form-control" required />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Opis</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CreatedAt" class="form-label">Data utworzenia</label>
            <input asp-for="CreatedAt" class="form-control" type="date" required />
            <span asp-validation-for="CreatedAt" class="text-danger"></span>
        </div>

        <div class="modal-footer">
            <a asp-action="Index" class="btn btn-secondary m-2">Anuluj</a>
            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
