@model Clinic.Database.Text

@{
  ViewData["Title"] = "Dodaj tekst";
}

<div class="container-fluid py-5" style="width: 500px">
  <h3 class="mb-4">Dodaj nowy tekst</h3>

  <form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
      <label asp-for="Key" class="form-label">Klucz</label>
      <input asp-for="Key" class="form-control" required />
      <span asp-validation-for="Key" class="text-danger"></span>
    </div>

    <div class="mb-3">
      <label asp-for="Content" class="form-label">Treść</label>
      <input asp-for="Content" class="form-control" />
      <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="modal-footer">
      <a asp-action="Index" class="btn btn-secondary m-2">Anuluj</a>
      <button type="submit" class="btn btn-success">Zapisz</button>
    </div>
  </form>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
