@model Clinic.Database.Text

@{
  ViewData["Title"] = "Szczegóły tekstu";
}

<div class="container-fluid py-5" style="width: 500px">
  <h3 class="mb-4">Szczegóły tekstu</h3>

  <div class="mb-3">
    <label class="form-label">Klucz</label>
    <input class="form-control" value="@Model.Key" readonly />
  </div>

  <div class="mb-3">
    <label class="form-label">Treść</label>
    <input class="form-control" value="@Model.Content" readonly />
  </div>

  <div class="modal-footer">
    <a asp-action="Index" class="btn btn-secondary m-2">Powrót</a>
  </div>
</div>
