@model Clinic.Database.Visit

@{
    ViewData["Title"] = "Dodaj wizytę";
}

<div class="container-fluid py-5" style="width: 500px">
    <h3 class="mb-4">Dodaj nową wizytę</h3>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="VisitDate" class="form-label">Data wizyty</label>
            <input asp-for="VisitDate" type="datetime-local" class="form-control" required />
            <span asp-validation-for="VisitDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="VisitReason" class="form-label">Powód wizyty</label>
            <input asp-for="VisitReason" class="form-control" required />
            <span asp-validation-for="VisitReason" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PatientId" class="form-label">Pacjent</label>
            <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId" required></select>
            <span asp-validation-for="PatientId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DoctorId" class="form-label">Lekarz</label>
            <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId" required></select>
            <span asp-validation-for="DoctorId" class="text-danger"></span>
        </div>

        <div class="modal-footer">
            <a asp-action="Index" class="btn btn-secondary m-2">Anuluj</a>
            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
