@{
  var menuItems = new List<(string Link, string Title)>
  {
    ("/", "STRONA GŁÓWNA"),
    ("/doctors", "LEKARZE"),
    ("/patients", "PACJENCI"),
    ("/visits", "WIZYTY"),
    ("/employees", "PRACOWNICY"),
    ("/examinations", "BADANIA"),
    ("/specs", "SPECJALIZACJE"),
  };
}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center ms-2" href="/">
          <h3 class="me-2 mb-0 text-dark">Przychodnia lekarska</h3>
          <img src="~/images/clinic-icon.png" alt="clinic icon" style="width: 40px; height: 40px;" />
      </a>
      <ul class="navbar-nav">
        @foreach (var menuItem in @menuItems)
        {
          <li class="nav-item">
            <a class="nav-link text-dark me-2 text-decoration-underline-class" href="@menuItem.Link">@menuItem.Title</a>
          </li>
        }
      </ul>
  </div>
</nav>
