@{
  var menuItems = new List<(string Link, string Title)>
  {
    ("/doctors", "LEKARZE"),
    ("/patients", "PACJENCI"),
    ("/visits", "WIZYTY"),
    ("/examinations", "BADANIA"),
    ("/specs", "SPECJALIZACJE"),
    ("/prescriptions", "RECEPTY"),
    ("/payments", "PLATNOŚCI"),
    ("/documents", "DOKUMENTY"),
    ("/text", "TEKST"),
  };
}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center ms-2" href="/">
          <h3 class="me-2 mb-0 ">Przychodnia lekarska</h3>
          <img src="~/images/clinic-icon.png" alt="clinic icon" style="width: 40px; height: 40px;" />
      </a>
      <ul class="navbar-nav">
        @foreach (var menuItem in @menuItems)
        {
          <li class="nav-item">
            <a class="nav-link me-2 text-decoration-underline-class" href="@menuItem.Link">@menuItem.Title</a>
          </li>
        }
      </ul>
      <button id="themeToggler" class="btn btn-secondary">
        <i class="bi bi-sun-fill"></i> / <i class="bi bi-moon-stars"></i>
      </button>
  </div>
</nav>

<script>
  const toggler = document.getElementById('themeToggler');
  const currentTheme = localStorage.getItem('theme');

  if (currentTheme) {
    document.documentElement.setAttribute('data-bs-theme', currentTheme)
  }

  toggler.addEventListener('click', () => {
    const changedTheme = document.documentElement.getAttribute('data-bs-theme');
    const newTheme = changedTheme === 'dark' ? 'light' : 'dark';

    document.documentElement.setAttribute('data-bs-theme', newTheme);
    localStorage.setItem('theme', newTheme);
  })
</script>
