@{
    ViewData["Title"] = "Strona glowna";
}

<div class="position-relative doctor-image-container">
    <img src="~/images/doctorhomepage.jpg" alt="lekarz z tabletem" class="w-100 h-100 object-fit-cover" />
</div>
